:host mat-toolbar>div {
  width: 33%;
  text-align: center;
}

ul {
  width: 33%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
}

